@model IEnumerable<HastaneProjesi.Models.HastaKabul>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GelisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hastalar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktorlar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GelisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hastalar.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doktorlar.Ad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
